$white: #FFF;
$black: #000;
$background: #F2F2F2;
$primary: #880E4F;
$primary-Dark: #560027;
$primary-Light: #BC477B;
$disabled-Background: #CCC;
$disabled-Color: #666;
$valid: #4CAF50;
$invalid: #EF5350;